* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./images/background-image.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 1rem;
}
.container{
    padding: 0 16px;
    margin: 0 80px;
}


a{
    text-decoration: none;
    color: whitesmoke;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

ul {
    margin-block: 0;
    list-style: none;
}
.nav-links li {
    margin-inline: 10px;
    font-size: 25px;
}
.nav-links {
    display: flex;
}
.logo {
    font-size: 32px;
}
.header-content {
    text-align: center;
    margin-top: 320px;
}
.header-content h1 {
    font-size: 80px;
    color: whitesmoke;
}
.header-content h3 {
    font-size: 32px;
    color: whitesmoke;
    margin-bottom: 30px;
}
.btn {
    background-color: blue;
    font-size: 25px;
    padding: 15px 35px;
    border-radius: 10px;
    cursor: pointer;
}
hr {
    width: 240px;
    margin-inline: auto;
    border: 1px solid blue;
    margin-bottom: 80px;
}
/* ------------Section - 1----------- */
.section-1 {
    margin-block: 48px;
}
.section-1 .section-1-text {
    text-align: center;
    margin-block: 80px;
}
.section-1 .section-1-text h1 {
    font-size: 80px;
    margin-bottom: 32px;
}
.section-1 .section-1-text p {
    font-size: 32px;
}
.section-1 .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}
.section-1 img {
    height: 250px;
    margin: 10px;
}
.section-1 .img-1 {
    width: 20%;
}
.section-1 .img-2 {
    width: 40%;
}
/* ------------Section - 2----------- */
.section-2 {
    padding-block: 80px;
    background-color: #f9f4f4;
}
.section-2 .section-2-text {
    text-align: center;
}
.section-2 h1 {
    margin-bottom: 24px;
    font-size: 40px;
}
.section-2 hr {
    margin-block: 80px;
}
.section-2 p {
    font-size: 20px;
}
.section-2 .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.section-2 .grid-container .grid-col {
    padding: 80px;
}
.section-2 .grid-container .grid-col i {
    margin-bottom: 16px;
    font-size: 64px;
    color: #8282f1;
}
.section-2 h2 {
    font-size: 32px;
}

/* =======================Section 3===================== */
.section-3 h1 {
    font-size: 40px;
    margin-block: 80px;
    text-align: center;
}
.section-3-content {
    text-align: center;
}
.section-3-content-items p {
    font-size: 28px;
}
.section-3-content-items .author {
    font-size: 18px;
    margin-block: 16px 64px;
    color: #7d7d89;
}

/* =======================Section 4===================== */
.section-4 {
    padding-block: 80px;
    background-color: #f9f4f4;
    text-align: center;
}
.section-4-content h3 {
    font-size: 32px;
}
.section-4-content p{
    font-size: 20px;
}
.section-4 hr {
    margin-top: 96px;
}
.section-4 form input {
    width: 20%;
    height: 48px;
    margin-right: 16px;
}
.section-4 .form .btn {
    font-size: inherit;
}

/* =======================footer===================== */
footer {
    background-color: #3e8996;
    padding: 15px 20px;
}
footer span {
    color: whitesmoke;
    margin-inline: 16px;
    font-size: 20px;
}
footer i {
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    margin-inline: 5px;
    color: #556e7f;
    margin-right: 0px;
}
